html, body {
    margin:0;
    height:100%;
    background:#000;
}

.banner-01{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
}

.menu{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    background:url("../img/fundo-menu.png");
    z-index:1;
}

.limitador{
    width:100%;
    max-width:1000px;
    height:auto;
    margin:0 auto;
}

.bg-light{
    background-color:transparent !important;
}